/*inside article styling */
article{
    
    > div {
        display:grid;
        grid-template-columns: auto max-content;
        
        p {
            grid-column: 1 / 2;
        }

        p.dateend{
            grid-column: 2 / 3;
            grid-row-start: 0;
            grid-row-end: -1;
        }
    }
}