/*inside article styling */
article{
    
    > div {
        display:grid;
        grid-template-columns: auto max-content;
        
        p,div {
            grid-column: 1 / 2;
        }

        p.dateend{
            grid-column: 2 / 3;
            grid-row-start: 0;
            grid-row-end: -1;
        }
    }

    li{
        margin-left: 25px;
    }
}

form {
    > div{
        display: flex;
        flex-direction: row;
        margin: 2px;
        align-items: center;

        input{
            flex-grow:1;
            border-radius: 5px;
            padding: 5px 10px;
            margin-left: 5px;
            border: 2px gray solid;
        }
    }
}

form.responsibility{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    div{
        flex-grow:1;
    }
}

input:hover{
    border-color: blue;
}