/*inside article styling */
article{
    
    > div {
        display:grid;
        grid-template-columns: auto min-content;

        p.dateeend{
            grid-column: 1 2;
            grid-row-start: 0;
            grid-row-end: -1;
        }
        
        p {
            grid-column: 0 1;
        }
    }
}